@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Goblin';
  src: url('./fonts/AGoblinAppears-o2aV.ttf');
}

@font-face {
  font-family: 'Pixeled';
  src: url('./fonts/Pixeled.woff2') format('woff2');
}

/* @font-face {
  font-family: 'Pixel1';
  src: url('./fonts/Pixel1.ttf');
} */

body {
  background: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
